#work{
    padding: 80px 0;
    background: #F3F3F3;
}
.work__item{
    margin: 15px 0;
    cursor: pointer;
}
.work__item--heading{
    padding: 15px 0;
    margin-bottom: 0;
}
.work__item--paragraph{
    padding: 0 10px;
}